
## Question
At the same level as this notebook on github, there is an Exercise folder that contains carprices.csv. This file has car sell prices for 3 different models. First plot data points on a scatter plot chart to see if linear regression model can be applied. If yes, then build a model that can answer following questions,

1) Predict price of a mercedez benz that is 4 yr old with mileage 45000

2) Predict price of a BMW X5 that is 7 yr old with mileage 86000

3) Tell me the score (accuracy) of your model. (Hint: use LinearRegression().score())

In [1]:
import pandas as pd
df = pd.read_csv("carprices.csv")
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [8]:
dummies = pd.get_dummies(df['Car Model'])
df1 = dummies.astype(int)

In [9]:
df_merged = pd.concat([df,df1], axis ='columns')

In [10]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car Model              13 non-null     object
 1   Mileage                13 non-null     int64
 2   Sell Price($)          13 non-null     int64
 3   Age(yrs)               13 non-null     int64
 4   Audi A5                13 non-null     int32
 5   BMW X5                 13 non-null     int32
 6   Mercedez Benz C class  13 non-null     int32
dtypes: int32(3), int64(3), object(1)
memory usage: 704.0+ bytes

In [11]:
## drop the car Model column and one Mercedes Benz to avoid mulcollinearity

In [13]:
final =df_merged.drop(['Car Model', 'Mercedez Benz C class'], axis =1)

In [14]:
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6        0       1
1     35000          34000         3        0       1
2     57000          26100         5        0       1
3     22500          40000         2        0       1
4     46000          31500         4        0       1
5     59000          29400         5        1       0
6     52000          32000         5        1       0
7     72000          19300         6        1       0
8     91000          12000         8        1       0
9     67000          22000         6        0       0
10    83000          20000         7        0       0
11    79000          21000         7        0       0
12    59000          33000         5        0       0

In [16]:
X = final.drop('Sell Price($)', axis =1)
y = final['Sell Price($)']

In [29]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)
audi_resal_price = model.predict([[91000,6,0,1]])
print("The price prediction for a 6 year BMW is $: ", audi_resal_price)

The price prediction for a 6 year BMW is $:  [10562.58628786]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [28]:
print("Linear Regression Accuracy is:" , model.score(X,y))

Linear Regression Accuracy is: 0.9417050937281082

In [32]:
from sklearn.ensemble import RandomForestRegressor 
forest_model = RandomForestRegressor(random_state =1)
forest_model.fit(X,y)
print ("Random Forest Accuracy Score:" , model.score(X,y))

Random Forest Accuracy Score: 0.9417050937281082

1) Predict price of a mercedez benz that is 4 yr old with mileage 45000

In [36]:
mercedes_price = model.predict([[45000,4,0,0]])
print("The price prediction for the Vehicle is $", mercedes_price)

The price prediction for the Vehicle is $ [36991.31721061]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2) Predict price of a BMW X5 that is 7 yr old with mileage 86000

In [37]:
audi_price = model.predict([[86000,7,1,0]])
print("The price prediction for the Vehicle is $", audi_price)

The price prediction for the Vehicle is $ [15365.40972059]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

3) Show the  score (accuracy) of your model.

In [41]:
print("Model Accuracy Score: ", model.score(X,y))

Model Accuracy Score:  0.9417050937281082